{% extends 'base.html.twig' %}

{% block body %}
    <h2>Resumen Aplicación a Oportunidad de Investigación</h2>


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn1"  value="Aplicar" />
    {{ form_end(form) }}

    <a href="{{ path('application_index') }}" class="btn btn-danger btn2" role="button" >Cancelar</a>
{% endblock %}
