{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enviar Nueva Notificación</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn1" value="Enviar" />
    {{ form_end(form) }}
    

    <a href="{{ path('notification_index') }}" class="btn btn-info btn2" role="button" >Listar Notificaciones</a>

{% endblock %}
