{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva Keyword</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn1" role="button" value="Crear" />
    {{ form_end(form) }}

       <a href="{{ path('keyword_index') }}" class="btn btn-info btn2" role="button">Lista de Keywords</a>

{% endblock %}
