{% extends 'base.html.twig' %}

{% block body %}
    <h1>Insertar Sigla</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn1"  value="Crear" />
    {{ form_end(form) }}

            <a href="{{ path('classcode_index') }}" class="btn btn-info btn2" role="button" >Ver listado</a>

<script type="text/javascript">

window.onload = function() {

    $('#class_code_initialsCode').on('keyup', function() {

        this.value = this.value.toUpperCase();
        this.value = this.value.replace(/[^A-Za-z]/g,'');
    })

    $('#class_code_numbersCode').on('keyup', function() {
        this.value = this.value.replace(/\D/g,'');
    })

};

</script>

{% endblock %}
